<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.countries.detailedcountry">

    <application>
        <activity
                android:name=".CountryDetailedActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>